footer
  .content.container-fluid
    .row
      .col-sm-8.col-sm-offset-2
        .text-center
          p.lead Efficient processes for effective results!
          p All contents &copy; 2016 <a href="http://258webco.com">258webco.com</a>. All rights reserved.
