nav(role="navigation"  data-offset="60")#nav--main.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button(type="button" data-toggle="collapse" data-target="#collapse").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="#featured").navbar-brand 25/8 <span class="subhead">Cullin!</span>
    div(id="collapse").collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //li: a(href="#featured") Home
        li: a(href="#about") About
        li: a(href="#process") Our Process
        li: a(href="#design") Design
        li: a(href="#development") Development
        li: a(href="#blog") Blog
        li: a(href="#contact") Contact
