nav(role="navigation").n_
  //h3.n__title [blank]
  ul.n__l.nav.nav-pills.nav-stacked
    li.n__l_t--1
      a(href="{{ site.baseurl }}/#") Menu Item #1
    li.n__l_t--2
      a(href="{{ site.baseurl }}/#") Menu Item #2
    li.n__l_t--3
      a(href="{{ site.baseurl }}/#") Menu Item #3
    li.n__l_t--4
      a(href="{{ site.baseurl }}/#") Menu Item #4
    li.n__l_t--5
      a(href="{{ site.baseurl }}/#") Menu Item #5
