section#about.about
  .about_content.container
    .row
      .col-sm-12
        h1 -
        p.lead Write up about what we believe, what we set out to do, and what are place is in this crazy world. Just a quick summary, nothing too long, there are still other sections we need to work on and use that content for.
    .row
      .col-sm-6.col-md-3
        h2 Effective Stategy
        p We focus on the industries that matter. There are many considerations that go into a marketing tool and we know what they are.
      .col-sm-6.col-md-3
        h2 Web Design
        p With your brand and our knowledge of what's possible we can forge together a fine design that represents what you have to offer.
      .col-sm-6.col-md-3
        h2 Web Development
        p We use the right tool for the right tools for the right job. With up-to-date best practices and creative minds we put it all together.
      .col-sm-6.col-md-3
        h2 Web Consulting
        p When you're ready to invest more in your online presence we're always available for consultation
    .row
      .col-xs-12
        p.lead We should define what 25/8 is about as a team.
