section#blog.blog
  .blog_content.container
    .row
      .col-sm-12
        h1 Blog
        p.lead We blog about the issues, concerns, and opportunities that effect your business. For more about what we do you can read more on our respective blogs.
    .row
      .col-sm-4
        h2 Finding Your Personas
        p If you've ever tried to get people on board with the whole persona idea, this is the article for you and your users' best interest.
        a.btn.btn-default Read
      .col-sm-4
        h2 Doing Keyword Research
        p Doing proper keyword research out of the gate can make a huge difference in the execution of your project.
        a.btn.btn-default Read
      .col-sm-4
        h2 DIY: Local SEO Like a Pro
        p SEO and Local SEO are all about the accumulation of small wins with your content. Find out how you can hold it down yourself.
        a.btn.btn-default Read
