section#contact.contact
  .contact_content.container
    .row
      .col-sm-12
        h1 Contact
        .lead Get in touch with the team about your upcoming web project.
        .row
          form
            .col-sm-4
              .form-group
                label(for="inputName") Name
                input(type="text" placeholder="Name")#inputName.form-control
              .form-group
                label(for="inputEmail") Email Address
                input(type="email" placeholder="Email")#inputEmail.form-control
            .col-sm-8
              .form-group
                lable(for="inputMessage") Message
                textarea(rows="5" placeholder="Write us a message!")#inputMessage.form-control
                button(type="submit").btn.btn-primary Submit
        
