section#development.development
  .development_content.container
    .row
      .col-sm-12
        h1 Development
        p.lead The wave of the future is relentless, but we have a relentless code front that utilizes current best practices that will pair perfectly with progressive enhancements to suit your user's needs.
