section#design.design
  .design_content.container
    hr
    .row
      .col-sm-12
        h1 Design
        p.lead We have a designer to help your brand and business strike the right chord online with your users.
